body {
        background-color: rgb(34, 34, 34);
        font-family: 'Poppins', sans-serif;
        color: #FFFFFF;
        height: 100vh;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.invertido {
    flex-direction: row-reverse;
}

.sobremim-section {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.sobremim-section h2, 
.sobremim-section h3, 
.sobremim-section p {
    color: #FFFFFF;
}

.sobremim-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}
