* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 34, 34);
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    height: 100vh; /* Ajusta a altura do body para ocupar 100% da tela */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 100vw; /* Ajusta a largura para ocupar 100% da tela */
    height: 100vh; /* Ajusta a altura para ocupar 100% da tela */
    background-color: #282828;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.left-side {
    flex: 1;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: #009688;
    height: 100%;
    margin-right: 20px;
    padding-left: 40px;
}

.imagem img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    opacity: 0.85;
    margin-left: 110px;
}

.right-side {
    flex: 2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-side a {
    color: #009688;
    font-size: 18px;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s;
}

.right-side a:hover {
    color: #00796B;
}

.inicio h1 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #009688;
}

.inicio h2 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #B3B3B3;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #FFFFFF;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #CCCCCC;
}

.progress-bar {
    width: 50%;
    background-color: #555555; /* Cor de fundo da barra */
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px; /* Espaçamento entre as barras */
    text-align: center;
}

.progress {
    height: 20px;
    background-color: #009688; /* Cor da barra de progresso */
    border-radius: 10px;
    color: #282828;
}

.logos i {
    font-size: 36px;
    margin: 0 10px;
    color: #FFFFFF;
    transition: color 0.3s;
    cursor: pointer;
}

.logos i:hover {
    color: #009688;
}

.country-flag {
    width: 24px; 
    height: auto; 
    margin-right: 10px;
    vertical-align: middle; 
}

.linguagens {
    width: 85%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    overflow: visible;
}

.linguagens div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 10px 20px;
    border-radius: 50px;
}

.linguagens div i {
    font-size: 28px;
    opacity: 0.2;
    transform: scale(0.5);
    transition: opacity 0.5, transform 0.5 ease;
}

.linguagens div:hover i {
    opacity: 1;
    transform: scale(1);
}

.linguagens div:nth-child(1) {
    background-color: #e34c26;
    transition: background-color 2s, transform 1s ease;
}

.linguagens div:nth-child(1) img {
    opacity: 0.1;
}

.linguagens div:nth-child(1):hover {
    background-color: #973117;
    transform: translateX(-5px);
}

.linguagens div:nth-child(1):hover img {
    opacity: 1;
}

.linguagens div:nth-child(2) {
    background-color: #2965f1;
    transition: background-color 2s, transform 1s ease;
}

.linguagens div:nth-child(2) img {
    opacity: 0.1;
}

.linguagens div:nth-child(2):hover {
    background-color: #3c53a3;
    transform: translateX(5px);
}

.linguagens div:nth-child(2):hover img {
    opacity: 1;
}

.linguagens div:nth-child(3) {
    background-color: #f0db4f;
    transition: background-color 2s, transform 1s ease;
}

.linguagens div:nth-child(3) img {
    opacity: 0.1;
}

.linguagens div:nth-child(3):hover {
    background-color: #c8af3b;
    transform: translateX(-5px);
}

.linguagens div:nth-child(3):hover img {
    opacity: 1;
}

.linguagens div:nth-child(4) {
    background-color: #4b8bbe;
    transition: background-color 2s, transform 1s ease;
}

.linguagens div:nth-child(4) img {
    opacity: 0.1;
}

.linguagens div:nth-child(4):hover {
    background-color: #386990;
    transform: translateX(5px);
}

.linguagens div:nth-child(4):hover img {
    opacity: 1;
}

.botao {
    background-color: #009688;
    color: #FFFFFF;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    align-self: flex-start;
    margin-top: 40px;
}

.botao:hover {
    background-color: #00796B;
    transform: translateY(-3px);
}

/*Começa o sobre mim*/
/* Estilos para a seção "Sobre Mim" */
.sobre-mim {
    background-color: #282828; /* Fundo escuro */
    padding: 60px 20px; /* Espaçamento interno */
    display: flex;
    align-items: center;
    justify-content: center; /* Alinha o conteúdo centralmente */
    gap: 30px; /* Espaçamento entre texto e imagem */
    max-width: 1200px; /* Largura máxima */
    margin: 0 auto; /* Centraliza o container */
}

.sobre-mim-texto {
    flex: 1; /* Faz o texto ocupar o espaço restante */
    color: #CCCCCC;
    max-width: 600px; /* Limita a largura do texto */
}

.sobre-mim-texto h2 {
    font-size: 36px;
    font-weight: 700;
    color: #009688;
    margin-bottom: 20px;
}

.sobre-mim-texto h3 {
    font-size: 28px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.sobre-mim-texto p {
    font-size: 18px;
    line-height: 1.6;
}

.sobre-mim-imagem {
    flex: 0 0 300px; /* Largura fixa para a imagem */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-mim-imagem img {
    border-radius: 8px; /* Bordas arredondadas */
    width: 100%;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra para destaque */
    transition: transform 0.3s ease; /* Transição para o efeito de hover */
}

.sobre-mim-imagem img:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

/*A partir daqui os projetos*/

/*A partir daqui os contatos*/
.contato-info {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.contato-info h2 {
    font-size: 36px;
    font-weight: 700;
    color: #009688;
    margin-bottom: 20px;
}

.contato-info p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.contato-detalhes {
    margin-bottom: 20px;
}

.contato-detalhes p {
    font-size: 18px;
    margin: 10px 0;
}

.contato-detalhes i {
    color: #009688;
    margin-right: 10px;
}

.logos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.logos a {
    color: #FFFFFF;
    font-size: 36px;
    transition: color 0.3s;
}

.logos a:hover {
    color: #009688;
}

.contato-form {
    max-width: 600px; /* Limita a largura do formulário */
    margin: 0 auto;
}

.contato-form h3 {
    font-size: 28px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: center;
}

.contato-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contato-form input,
.contato-form textarea {
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.contato-form input {
    background-color: #444;
    color: #FFFFFF;
}

.contato-form textarea {
    background-color: #444;
    color: #FFFFFF;
}

.contato-form button {
    background-color: #009688;
    color: #FFFFFF;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.contato-form button:hover {
    background-color: #00796B;
    transform: translateY(-2px);
}
